# Local terraform directory (binary files)
.terraform/

# Terraform lock file
.terraform.lock.hcl

# State files (contains secrets in plain text)
*.tfstate
*.tfstate.*

# Secret variables (contains your DB password)
terraform.tfvars
